<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

	<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<a href="~/lib/bootstrap/css/bootstrap.css.map">~/lib/bootstrap/css/bootstrap.css.map</a>
	<a href="~/lib/bootstrap/css/bootstrap.min.css.map">~/lib/bootstrap/css/bootstrap.min.css.map</a>
	<a href="~/lib/bootstrap/css/bootstrap.rtl.css.map">~/lib/bootstrap/css/bootstrap.rtl.css.map</a>
	<a href="~/lib/bootstrap/css/bootstrap.rtl.min.css.map">~/lib/bootstrap/css/bootstrap.rtl.min.css.map</a>

</head>

<body class="d-flex flex-column min-vh-100">

    <div class="container mt-4 flex-grow-1 d-flex flex-wrap gap-3">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

</body>
</html>